<a href="https://colab.research.google.com/github/Fabiox-1/python/blob/main/operazioni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Esercizio 1:** Dichiarare due variabili "numero1" e "numero2" e assegnargli due numeri interi. Eseguire l'addizione tra le due variabili e assegnare il risultato ad una nuova variabile "somma", mandandola a schermo.

In [63]:
numero1 = 10
numero2 = 20
somma = numero1 + numero2

print(somma)

30

In [64]:
somma = 0

for i in range(0, 2):
  numero = int(input("Inserisci un numero: "))
  somma = somma + numero

print("Somma: ", somma)

Inserisci un numero: 10
Inserisci un numero: 20
Somma:  30

**Esercizio 2:** Eseguire la sottrazione tra le due variabili e assegnare il risultato ad una nuova variabile "differenza". Mandare a schermo.

In [65]:
numero1 = 30
numero2 = 20
sottrazione = numero1 - numero2

print(sottrazione)

10

In [18]:
sottrazione = 0
for i in range(0, 2):
  numero = int(input("Inserisci un numero: "))
  sottrazione = - numero - (sottrazione)

print("Sottrazione: ", sottrazione)

Inserisci un numero: -10
Inserisci un numero: -8
Sottrazione:  -2

**Esercizio 3:** Eseguire la moltiplicazione tra le due variabili e assegnare il risultato ad una nuova variabile "prodotto". Mandare a schermo.

In [16]:
numero1 = 30
numero2 = 20
moltiplicazione = numero1 * numero2

print(moltiplicazione)

600

In [20]:
moltiplicazione = 1

for i in range(0, 2):
  numero = int(input("Inserisci un numero: "))
  moltiplicazione = numero * moltiplicazione

print("Moltiplicazione: ", moltiplicazione)

Inserisci un numero: 30
Inserisci un numero: 20
Moltiplicazione:  600

**Esercizio 4:** Eseguire la divisione tra le due variabili e assegnare il risultato ad una nuova variabile "quoziente". Mandare a schermo.

In [21]:
numero1 = 30
numero2 = 20
divisione = numero1 / numero2

print(divisione)

1.5

In [29]:
divisione = 0

numero1 = float(input("Inserisci un altro numero: "))
numero2 = float(input("Inserisci un altro numero: "))
divisione = numero1 / numero2

print(f"Il risultato della divisione è: {divisione}")

Inserisci un altro numero: 30
Inserisci un altro numero: 20
Il risultato della divisione è: 1.5

**Esercizio 5:** Eseguire l'operazione di modulo tra le due variabili e assegnare il risultato ad una nuova variabile "resto". Mandare a schermo.

In [32]:
resto = 0

numero1 = float(input("Inserisci un altro numero: "))
numero2 = float(input("Inserisci un altro numero: "))
resto = numero1 % numero2

print(f"Il resto della divisione è: {resto}")

Inserisci un altro numero: 30
Inserisci un altro numero: 20
Il resto della divisione è: 10.0

**Esercizio 6:** Incrementare "numero1" di 1 e decrementare "numero2" di 3. Mandare a schermo i nuovi valori.

In [39]:
numero1 = int(input("Inserisci un altro numero: "))
numero2 = int(input("Inserisci un altro numero: "))

numero1 += 1
numero2 -= 3

print("Il nuovo valore di numero1 è:", numero1)
print("Il nuovo valore di numero2 è:", numero2)

Inserisci un altro numero: 30
Inserisci un altro numero: 20
Il nuovo valore di numero1 è: 31
Il nuovo valore di numero2 è: 17

In [45]:
numero1 = int(input("Inserisci il primo numero: "))
numero2 = int(input("Inserisci il secondo numero: "))

def modifica (numero1, numero2):
  numero1 += 1
  numero2 -= 3
  return (numero1, numero2)

print("I due nuovi numeri sono: ", modifica(numero1, numero2))

Inserisci il primo numero: 30
Inserisci il secondo numero: 20
I due nuovi numeri sono:  (31, 17)

**Esercizio 7:** Moltiplicare "numero1" per se stesso + 5, sommarlo quindi a "numero2" elevato alla seconda. Assegnare l'operazione alla variabile risultato e mandare a schermo.

In [52]:
numero1 = int(input("Inserisci il primo numero: "))
numero2 = int(input("Inserisci il secondo numero: "))

risultato = (numero1 * numero1) + 5 + (numero2**2)

print("Il valore della variabile risultato è:", risultato)

Inserisci il primo numero: 2
Inserisci il secondo numero: 2
Il valore della variabile risultato è: 13

**Esercizio 8:** Trovare quella operazione per portare "numero1" a valere 1 senza riassegnarlo direttamente ad 1 e sottraendolo a se stesso.

In [56]:
numero1 = 9
numero1 - numero1 - (numero1 - 1)

print("Il numero è:", numero1)

Il numero è: 9