Dichiarare una variabile "numero_intero" e assegnargli un valore intero. Mandare a schermo il tipo della variabile per conferma.

In [28]:
numero_intero = 15
print(numero_intero)
type(numero_intero)

15

int

Dichiarare una variabile "numero_decimale" e assegnargli un valore float. Mandare a schermo il tipo della variabile per conferma.

In [27]:
numero_decimale = 15.5
print(numero_decimale)
type(numero_decimale)

15.5

float

Creare una variabile "testo" e assegnargli una stringa contenente una frase. Mandare a schermo il tipo della variabile per conferma.

In [26]:
testo = "Hello, world!"
print(testo)
type(testo)

Hello, world!

str

Creare una variabile "valore_booleano" e assegnargli un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [25]:
valore_booleano = True
print(valore_booleano)
type(valore_booleano)

True

bool

Creare una lista "numeri" contenente 5 numeri interi. Mandare a schermo il tipo della variabile per conferma.

In [24]:
numeri = [1, 2, 3, 4, 5]
print(numeri)
type(numeri)

[1, 2, 3, 4, 5]

list

Creare una lista "misti" contenente un numero intero, un numero float, una stringa e un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [23]:
misti = [1, 2.3, "prova", False]
print(misti)
type(misti)

[1, 2.3, 'prova', False]

list

Creare una tupla "giorni_settimana" contenente i giorni della settimana come stringhe. Mandare a schermo il tipo della variabile per conferma.

In [22]:
giorni_settimana = ("Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato", "Domenica")
print(giorni_settimana)
type(giorni_settimana)

('Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato', 'Domenica')

tuple

Creare un dizionario "informazioni_personali" contenente il tuo nome, cognome, età e città di residenza. Mandare a schermo il tipo della variabile per conferma.

In [21]:
informazioni_personali = {"nome": "Luca", "cognome": "Rossi", "età": 30, "citta": "Roma"}
print(informazioni_personali)
type(informazioni_personali)

{'nome': 'Luca', 'cognome': 'Rossi', 'età': 30, 'citta': 'Roma'}

dict