Dichiarare una variabile "nome" e assegnargli il tuo nome. Mandare a schermo.

In [76]:
nome = "Fabio"
print(nome)
type(nome)

Fabio

str

Dichiarare una variabile "eta" e assegnargli la tua età. Mandare a schermo.

In [77]:
eta = 34
print(eta)
type(eta)

34

int

Dichiarare una variabile "pi" e assegnargli il valore di pi greco (3,14159). Mandare a schermo.

In [78]:
import math
pi = math.pi
print(pi)
type(pi)

3.141592653589793

float

Creare una variabile "lunghezza" e assegnargli un valore, quindi riassegnare la variabile a 15. Mandare a schermo.

In [79]:
lunghezza = 10
print(lunghezza)
lunghezza = 15
print(lunghezza)

10
15

Creare una variabile "nome_completo" e assegnargli una stringa contenente il tuo nome e cognome. Mandare a schermo.testo in corsivo

In [80]:
nome_completo = "Fabio Sacco"
print(nome_completo)
type(nome_completo)

Fabio Sacco

str

Creare una variabile "eta_futura" e assegnargli il valore dell'età che avrai tra 10 anni (utilizzando la variabile età già esistente). Mansare a schermo.testo in corsivo

In [81]:
eta_futura = eta + 10
print(eta_futura)

44

Creare delle variabili "nome", "cognome" ed "anno_di_nascita" ed assegnargli i valori. Mandare a schermo in un unico print. Sovrascrivere tutte le variabili e rimandare a schermo una seconda volta.

In [82]:
nome = "Fabio"
cognome = "Sacco"
anno_di_nascita = 1991
print(nome, cognome, anno_di_nascita)
print(nome + " " + cognome + " " + str(anno_di_nascita))

Fabio Sacco 1991
Fabio Sacco 1991

Creare una variabile eta_attuale e assegnargli il valore dell'età che hai attualmente, calcolandola in base all'anno corrente. Mandare a schermo eta_attuale.

In [88]:
anno_corrente = 2025
eta_attuale = anno_corrente - anno_di_nascita
print(eta_attuale)

34